HOME/.emacs.d/auto-save-list
HOME/.emacs.d/**/*.elc
HOME/.emacs.d/ac-comphist.dat
HOME/.emacs.d/elpa/archives
HOME/.emacs.d/elpa/gnupg
HOME/.emacs.d/elpa/*.txt
HOME/.emacs.d/tramp
HOME/.emacs.d/eshell/history
HOME/.emacs.d/project-explorer-cache
HOME/.emacs.d/inits/init-env.el
HOME/.emacs.d/server/server
HOME/.zsh/.zshrc.mine
HOME/.zsh/.zcompdump
HOME/.zsh/Completion
.tern-*
