alias edit=$EDITOR
alias git=hub
alias open-pull-request='hub pull-request --push --draft --browse'
alias http-server='python3 -m http.server'
alias ruby-grep='querly find'
alias gen-copy-password='gtr -dc "0-9a-zA-Z" < /dev/urandom | head -c'
