alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias ls='ls -F --color=auto --show-control-chars'
alias ll='ls -l'
alias la='ls -la'
alias rm='rm -i'
alias mv='mv -i'
alias su='su -l'
alias df='df -h'
alias du='du -h'
alias less='less -R'
alias grep='grep --color=auto'
alias g='grep'
alias diff='diff -u'
alias h='history'
alias q='exit'
alias lv='lv -c'
alias cdiff='colordiff -u'
alias e='emacs'
alias en='emacs --no-window-system --no-site-file --no-site-lisp --no-splash'
alias cvs-st='cvs -qn update -R'
alias cvs-di='cvs -qn diff -u'
alias cvs-bk="find . -name '.#*'"
alias cvs-bk-clean="cvs-bk | xargs rm -rfv"
alias cvs-revert='cvs update -C'
alias ant='ant -logger org.apache.tools.ant.listener.AnsiColorLogger'
