#export JAVA_HOME=/usr/lib/jvm/default-java
export JAVA_HOME=$HOME/java/latest
export JAVA_OPTS='-server -Xmx512m -XX:MaxPermSize=128m'
export MAVEN_OPTS='-server -ea -Xmx512m -Xms128m -XX:MaxPermSize=128m'
export PATH=$HOME/bin:$PATH
export EDITOR='emacs -nw'

# perl
PBDIR=~/perl5/perlbrew
[ -f $PBDIR/etc/bashrc ] && source $PBDIR/etc/bashrc
[ -f $PBDIR/etc/perlbrew-completion.bash ] && source $PBDIR/etc/perlbrew-completion.bash
export PERL_CPANM_OPT="--prompt --reinstall --mirror http://ftp.jaist.ac.jp/pub/CPAN/"
