# common
export HISTFILE=$HOME/.history
export HISTSIZE=50000
export PATH=$HOME/bin:$PATH
export EDITOR='emacs -nw'

# java
#export JAVA_HOME=/usr/lib/jvm/default-java
export JAVA_HOME=/opt/java6/latest
export JAVA_OPTS='-server -Xmx512m -XX:MaxPermSize=128m'
export MAVEN_OPTS='-server -ea -Xmx512m -Xms128m -XX:MaxPermSize=128m -Djava.awt.headless=true'
export ANT_OPTS="$MAVEN_OPTS"
export PATH=/opt/ant/latest/bin:/opt/maven3/latest/bin:$JAVA_HOME/bin:$PATH

# perl
[ -f $HOME/perl5/perlbrew/etc/bashrc ] && source $HOME/perl5/perlbrew/etc/bashrc
export PERL_CPANM_OPT="--prompt --reinstall --mirror http://ftp.jaist.ac.jp/pub/CPAN/"

# scala
export PATH=/opt/scala/latest/bin:$PATH
