#export JAVA_HOME=/usr/lib/jvm/default-java
export JAVA_HOME=$HOME/java/latest
export JAVA_OPTS='-server -Xmx512m -XX:MaxPermSize=128m'
export MAVEN_OPTS='-server -ea -Xmx512m -Xms128m -XX:MaxPermSize=128m'
export PATH=$HOME/bin:$PATH
export EDITOR='emacs -nw'
export PERL_CPANM_OPT='-l ~/perl --mirror http://cpan.cpantesters.org'
export PERL5LIB=~/perl/lib/perl5
