[user]
	name = Masafumi Koba
	email = 10koba01@gmail.com
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	di = diff
[github]
	user = ybiquitous
	token = c10aa4d340230cbb510969ad260e5e56
#[color]
#	diff = auto
#[color "diff"]
#	meta = blue bold
