[alias]
  st = status
  ci = commit
  co = checkout
  br = branch
  di = diff
[github]
  user = ybiquitous
  token = c10aa4d340230cbb510969ad260e5e56
[color]
  ui = auto
[pager]
  diff = diff-highlight | less
  show = diff-highlight | less
  log = diff-highlight | less
[core]
  editor = emacs
